<html>
  <head>
    <title>More</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
  </head>
<body>
  <h1>Build an english sentence</h1>
  <img src="../static/images/uk_flag.png" alt="uk_flag"/>
  <form method="POST">
      <p>
      <h2> Add more? </h2>
          <label>
            <input type="radio" value="yes" name="opt"> yes
          </label>
        <br>
          <label>
            <input type="radio" value="no" name="opt"> no
          </label>
        <br>
      </p>
      <button type="submit">Next</button>
    </form>
</body>
</html>