<html>
<head>
    <title>Adders</title>
</head>
<body>
    <h1>Build an english sentence</h1>
  <form method="POST">
      <p>
        <!-- wyświetlamy treść pytania -->
      <h2> Do You want to add something to the noun? </h2>
           <select name="adder" id="adder">
            <option value="nothing" {% if adder == 'nothing' %} selected {% endif %}>Nothing</option>
            <option value="adverb" {% if adder == 'adverb' %} selected {% endif %}>Adverb</option>
            <option value="determiner" {% if adder == 'determiner' %} selected {% endif %}>Determiner</option>
        </select>
        <br>
      </p>
      <button type="submit">Next</button>
    </form>
</body>
</html>