<html>
<head>
    <title>Adders</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
</head>
<body>
    <h1>Build an english sentence</h1>
    <img src="../static/images/uk_flag.png" alt="uk_flag"/>
    <form method="POST">
      <p>
      <h2> Do You want to add something to the sentence? </h2>
           <select name="adder" id="adder">
            <option value="nothing" {% if adder == 'nothing' %} selected {% endif %}>Nothing</option>
            <option value="adverb" {% if adder == 'adverb' %} selected {% endif %}>Adverb</option>
            <option value="article" {% if adder == 'article' %} selected {% endif %}>Article</option>
            <option value="demonstrative" {% if adder == 'article' %} selected {% endif %}>Demonstrative</option>
            <option value="possessive" {% if adder == 'possessive' %} selected {% endif %}>Possessive</option>
            <option value="quantifier" {% if adder == 'quantifier' %} selected {% endif %}>Quantifier</option>
            <option value="number" {% if adder == 'number' %} selected {% endif %}>Number</option>
            <option value="preposition" {% if adder == 'preposition' %} selected {% endif %}>Preposition</option>
        </select>
        <br>
      </p>
      <button type="submit">Next</button>
    </form>
</body>
</html>