<html lang="en">
<head>
    <title>Adverb</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
</head>
<body>
    <h1>Build an english sentence</h1>
    <img src="../static/images/uk_flag.png" alt="uk_flag"/>
    <form method="POST">
        <h2>Choose an adverb</h2>
        <select name="opt">
    {% for p in words['adverbs'] %}
        <option value="{{ p[0] }}"> {{ p[0] }} </option>
        <br>
    {% endfor %}
        </select>
        <br>
        <button type="submit">Next</button>
    </form>
</body>
</html>