<html>
  <head>
    <title>Sentence builder</title>
  </head>
<body>
  <h1>Sentence builder</h1>
  <h1>Build an english sentence</h1>
  <form method="POST">
      <p>
        <!-- wyświetlamy treść pytania -->
      <h2> 1. Choose noun or pronoun </h2>
          <label>
            <input type="radio" value="pronoun" name="opt"> pronoun
          </label>
        <br>
          <label>
            <input type="radio" value="noun" name="opt"> noun
          </label>
        <br>
      </p>
      <button type="submit">Next</button>
    </form>
</body>
</html>