<html>
<head>
    <title>noun</title>
</head>
<body>
    <h1>Build an english sentence</h1>
  <form method="POST">
      <p>
        <!-- wyświetlamy treść pytania -->
      <h2>2. Noun with adjective or without adjective? </h2>
          <label>
            <input type="radio" value="with_adjective" name="opt"> noun with adjective
          </label>
        <br>
          <label>
            <input type="radio" value="no_adjective" name="opt"> noun without adjective
          </label>
        <br>
      </p>
      <button type="submit">Next</button>
    </form>
</body>
</html>